@import 'tailwindcss';
@import "tailwindcss-primeui";

:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  line-height: normal;
  padding: 0;
  background: #f4f5f8;
  overflow: hidden;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #111827;
  font-size: 13px;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

body,
input,
textarea {
  font-family: Inter;
  color: #111827;
  font-size: 13px;
  font-weight: 400;
}


#app {
  flex: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1);
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}




/*Custom styles*/
.disabled-opacity {
  opacity: .5;
}

.text {
  font-weight: 500;
}


/* Input Styles */
.ms-input input {
  background: #fff;
}

.ms-input input:focus {
  outline: none;
}

.ms-editor .border:not(.error):focus-within {
  border-color: #009b71;
}

.ms-input-item {
  border: none;
  background: transparent;
  white-space: nowrap;
  overflow: hidden;
}

.ms-editor label {
  color: #262626;
  display: block;
  font-weight: 500;
}

.label {
  font-size: 13px;
  font-weight: 600;
  color: #111827;
}

.ms-editor .border {
  border: 1px solid #D1D5DB;
  border-radius: 4px;
}

.ms-editor .border.error {
  border: 1px solid #ff0000;
}

.ms-editor .input-container {
  background-color: #fff;
  padding: 5px 12px;
  column-gap: 4px;
}

.ms-editor .editor-icon-container {
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for vue popper */
.v-popper--theme-tooltip .v-popper__inner {
  background: #000000 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #000000 !important;
}

.v-popper--theme-dropdown .v-popper__arrow-container {
  display: none !important;
}

.v-popper--theme-dropdown .v-popper__inner {
  border: none !important;
  background-color: transparent !important;
}

.v-popper.v-popper--theme-dropdown {
  width: unset !important;
  flex: 1;
  display: flex;
}